<% content_for :title do %> <%= @question.title %> <% end %>
<%= render "questions/question_block", :question => @question %>

<div class = "answers">
  <h4> Answers </h4>
  <% @question.answers.each do |answer| %>
    <%= render :partial => "answers/each_answer", :locals => {:answer => answer,
                                                    :question => @question} %>
  <% end %>
</div>

<% if current_user %>
  <div class="new-answers">
    <h4> Submit an Answer </h4>
    <div class="answer-form">
      <%= render "answers/answer_form", :question => @question %>
    </div>
  </div>
<% end %>






