<html>
  <head>
    <title> Activate your account </title>
  </head>

  <body>
    <p> Welcome to answers.siddharthravichandran.com </p>
    <p> Please activate your account by clicking this link <%= activate_url(@perishable_token) %>  </p>
    <p> Cheers, </p>
    <p> Siddharth Ravichandran </p>
  </body>
</html>