.container {
  width: 960px;
  background: #FFFFFF;
  margin: auto;
  font-family: 'Myriad Web Pro', Helvetica, Arial, sans-serif;
}


.header {
    padding-top:20px;
    background-color: #333333;
    height: 4em;
    width: 100%;
}

.header h2{
    float:left;
    color: #CCCCCC;
    padding:10px;
    padding-left:20px;
    padding-bottom:4px;
    
}

.footer {
    background : #333333;
    color: #CCCCCC;
    height: 4em;
    width: 100%;
    margin-top: 1em;
    display: inline-block;
    
}

.nav{
    float:right;
    padding:20px;
}

.nav ul {
    color: #CCCCCC;
}
.nav ul li {
    list-style-type: none;
    display:inline-block;
    padding:0.2em;
}

.nav ul li a{
    color: #CCCCCC;
    text-decoration: none;
    
}

.nav ul li a:hover{
    color: #CCCCCC;
    text-decoration: underline;
}

.round {
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
}

.section{
    margin-top: 1em;
    padding:20px;
    background:#CCCCCC;
    
}

input[type="text"], input[type='password']{
    height:30px;
    border:2px solid #CCCCCC;
    font-weight:bold;
    font-size:12px;
    width:95%;
    
}

textarea{
    border:2px solid #CCCCCC;
    font-weight:bold;
    font-size:12px;
    width:95%;

}

.form{
    margin:auto;
    margin-top:1em;
    width: 35%;
    padding:5px;
    background:#E4E4E4;
    border: 2px solid #CCCCCC;
}


.field{
    padding:8px;
    margin:auto;
}

.element-label{
    padding: 2px;
    padding-bottom:6px;
    margin:auto;
}

.element-field{
    padding:2px;    
}

.form-title{
    background: #CCCCCC;
    color: #333333;
    font-weight: bold;
    margin:auto;
    text-align:center;
    padding:4px;
}



.flash-messages{
    background:#E4E4E4;
    text-align:center;
    width:760px;
    margin:auto;
    padding:5px;
    margin-bottom: 1em;

}

.error{
    border: 2px solid red;
}

.notice{
    border: 2px solid green;
}

.error-message{
    color:red;
}


.right-section{
    width:30%;
    float:right;      
}

.left-section{
    width:65%;
    float:left;  
    padding:20px;
    background:#CCCCCC;
  
}

.container-section{
    width:100%;  
    
}

.graybackground{
    background: #CCCCCC;
}

.large-form{
    margin:auto;
    margin-top:1em;
    width: 83%;
    padding:5px;
    background:#E4E4E4;
    border: 2px solid #CCCCCC;
}

.profile{
    padding:15px;

}

.gravatar{
    padding-right:5px;
    float: left;
}

.profile-top{
    display:inline-block;
}

.title{
    
    display:block;
    font-weight: bold;
    font-size: 19px;
    margin-left: 50px;

}

.profile-body{
    margin-top: 10px;
    display:inline-block;
    width: 90%;
    font-size:smaller;
    
}

  .question{
    width:95%;
    background:#999;
    padding:10px;
  }

  .question-author{
    width:10%;
    float:left;
    padding-right:20px;
    padding-bottom:10px;
    display:block;

  }

  .question-details{
    width: 85%;
    display: inline-block;
  }

  .question-title{
    font-weight:bold;
    font-size:20px;

  }

  .smaller{
    margin-top:4px;
    padding-top:4px;
    font-size:14px;
  }

  .question-description{
    margin-top:1em;
  }

  .italics{
    font-style: italic;
  }

  .light{
    color:#E4E4E4;
    font-size:14px;
  }

  .edit-links ul{
    float:left;
    padding-left:0px;
    color: #E4E4E4;
  }
  .edit-links ul li{
    list-style-type: none;
    display:inline-block;

  }

  .edit-links ul li a{
    text-decoration: none;
    color: maroon;
  }

  .edit-links ul li a:hover{
    text-decoration: underline;
    color: maroon;
  }
