<div class="field">
  <div class="element-label"> <%= f.label :content, "New Answer" %></div>
  <div class="element-field"> <%= f.text_area :content %></div>
  <small class="error-message"><%= error_messages(answer,:content ) %></small>
</div>



