
<div class="round">  
  <%= form_for @answer, :as => :answer, :url => question_answers_url(@question) do |f| %>

    <%= render :partial => "answers/answer_form_fields", :locals => {:f => f, :answer => @answer}  %>

    <div class="field">
      <div> <%= f.submit "Save", :class => 'qa-buttons' %> </div>
    </div>
  <% end %>
</div>

<script type="text/javascript" src="/javascripts/wmd/wmd.js"></script>
<style>
  .answer-form{
    border: 1px solid #DEE7EC;
    background: #F4F8FA;
    padding: 10px;
    width:95%;
    margin-top: 1em;

  }
</style>